        <section class="attends">
            <h2>Why attend?</h2>

            <h4 class="text-gradient-purple">Learn from the best</h4>
            <p>Three channels of content dedicated to developers, enterprise teams, and college students.</p>

            <h4 class="text-gradient-purple">Get the latest</h4>
            <p>New product announcements and deep dives.</p>

            <h4 class="text-gradient-purple">Connect beyond content</h4>
            <p>Networking and learning opportunities, from Workshops to mentoring sessions.</p>

            <h4 class="text-gradient-purple">Have fun along the way</h4>
            <p>Musical performances inspired by code and a few more surprises to come!</p>
        </section>
