        <section class="attends">
            <h2>چرا در جشنواره شرکت کنیم؟</h2>

            <h4 class="text-gradient-purple">از بهترین ها بیاموزید</h4>
            <p>Three channels of content dedicated to developers, enterprise teams, and college students.</p>

            <h4 class="text-gradient-purple">جدیدترین ها را دریافت کنید</h4>
            <p>New product announcements and deep dives.</p>

            <h4 class="text-gradient-purple">به فراتر از محتوا وصل شوید</h4>
            <p>Networking and learning opportunities, from Workshops to mentoring sessions.</p>

            <h4 class="text-gradient-purple">در طول راه از آن لذت ببرید</h4>
            <p>Musical performances inspired by code and a few more surprises to come!</p>
        </section>
