        <footer>
            <ul class="linear-list">
                <li>
                    <a href="/code-of-conduct/">آیین نامه رفتار</a>
                </li>
                <li>
                    <a href="/terms/">مقررات</a>
                </li>
                <li>
                    <a href="/privacy/">حریم خصوصی</a>
                </li>
                <li>
                    <a href="">حمایت مالی رویداد</a>
                </li>
                <li>
                    <a href="">info [.@.] possf.ir</a>
                </li>
            </ul>
            <a href="/">
                <img alt="Persian Open Source Software Festival" class="logo" src="/asset/GitHub-invertocat.svg">
            </a>
            <p class="copyright">© 2020 GitHub. All rights reserved.</p>
        </footer>
