
<footer>

    <section class="updates">
        <!-- <p class="signup-text"><a class="underline" href="">Sign up</a> for the latest POSSF updates</p> -->
        <p class="follow-text">{% t footer.event_follow %}<span class="text-gradient-purple">{% t footer.event_hashtag %}</span></p>
        <ul class="linear-list">
            <li>
                <a href="https://twitter.com/possf_ir/">
                    <img src="/asset/twitter.svg">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/possf/">
                    <img src="/asset/linkedin.svg">
                </a>
            </li>
            <li>
                <a href="https://instagram.com/possf_ir/">
                    <img src="/asset/instagram.svg">
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCvot9gY0qHT_L6ivS_Uh9GQ">
                    <img src="/asset/youtube.svg">
                </a>
            </li>
        </ul>
    </section>

    <div class="content-footer">
        <ul class="linear-list">
            <li>
                <a href="{{ site.url }}/{{ site.lang }}/code-of-conduct/">{% t footer.codeofconduct %}</a>
            </li>
            <li>
                <a href="{{ site.url }}/{{ site.lang }}/terms/">{% t footer.terms %}</a>
            </li>
            <li>
                <a href="{{ site.url }}/{{ site.lang }}/privacy/">{% t footer.privacy %}</a>
            </li>
            <li>
                <a href="{{ site.url }}/{{ site.lang }}/sponsors/">{% t footer.sponsors %}</a>
            </li>
            <!--
                <li>
                    <a href="{{ site.url }}/{{ site.lang }}/contact/">حمایت مالی رویداد</a>
                </li>
                -->
            <li>
                <a href="{{ site.url }}/{{ site.lang }}/team/">{% t footer.team %}</a>
            </li>
            <li>
                <a href="{{ site.url }}/{{ site.lang }}/contact/">{% t footer.email %}</a>
            </li>
        </ul>
        <hr>
        <a href="{{ site.url }}/{{ site.lang }}/">
            <img alt="Persian Open Source Software Festival" class="logo" src="{{ site.url }}/asset/logo-icon.svg">
        </a>
        <p class="copyright">{% t footer.copyright %}</p>
    </div>

</footer>

<script defer type="text/javascript" src="/asset/script.js"></script>
