
<footer>

    <section class="updates">
        <!-- <p class="signup-text"><a class="underline" href="">Sign up</a> for the latest POSSF updates</p> -->
        <p class="follow-text">Follow the event <span class="text-gradient-purple">#POSSF</span></p>
        <ul class="linear-list">
            <li>
                <a href="https://twitter.com/possf_ir/">
                    <img src="/asset/twitter.svg">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/possf/">
                    <img src="/asset/linkedin.svg">
                </a>
            </li>
            <li>
                <a href="https://instagram.com/possf_ir/">
                    <img src="/asset/instagram.svg">
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCvot9gY0qHT_L6ivS_Uh9GQ">
                    <img src="/asset/youtube.svg">
                </a>
            </li>
        </ul>
    </section>

    <div class="content-footer">
        <ul class="linear-list">
            <li>
                <a href="{{ site.url }}/{{ site.lang }}/code-of-conduct/">آیین نامه رفتار</a>
            </li>
            <li>
                <a href="{{ site.url }}/{{ site.lang }}/terms/">مقررات</a>
            </li>
            <li>
                <a href="{{ site.url }}/{{ site.lang }}/privacy/">حریم خصوصی</a>
            </li>
            <li>
                <a href="{{ site.url }}/{{ site.lang }}/sponsors/">حامیان جشنواره</a>
            </li>
            <!--
                <li>
                    <a href="{{ site.url }}/{{ site.lang }}/contact/">حمایت مالی رویداد</a>
                </li>
                -->
            <li>
                <a href="{{ site.url }}/{{ site.lang }}/team/">دست اندرکاران</a>
            </li>
            <li>
                <a href="{{ site.url }}/{{ site.lang }}/contact/">info @ possf.ir</a>
            </li>
        </ul>
        <hr>
        <a href="{{ site.url }}/{{ site.lang }}/">
            <img alt="Persian Open Source Software Festival" class="logo" src="{{ site.url }}/asset/logo-icon.svg">
        </a>
        <p class="copyright">{% t global.footer_text %}</p>
    </div>

</footer>

<script type="text/javascript" src="{{ site.url }}/asset/script.js"></script>
