<header>
	<a href="/"><img alt="اولین جشنواره اوپن سورس و متن باز فارسی" class="logo" src="/asset/GitHub-Universe-logo-2020-white.svg"></a>
	<div class="time">جمعه، ۵ دی ماه ۱۳۹۹</div>
	<div class="countdown-time">
		<span class="d">22</span>
		d
		::
		<span class="h">1</span>
		h
		::
		<span class="m">48</span>
		m
		::
		<span class="s">6</span>
		s
	</div>
	<nav>
		<li class="active"><a href="">ثبت نام</a></li>
		<li><a href="/speaker/">سخنران ها</a></li>
		<li><a href="/workshop/">کارگاه ها</a></li>
		<li><a href="">حامیان</a></li>
		<li><a href="">پرسش پاسخ ها</a></li>
		<li><a href="">مشترک شدن</a></li>
	</nav>
</header>
