<section class="speakers">
	<h1>سخنران های کلیدی جشنواره اوپن سورس</h1>
	<ul class="speaker-list">
		<li>
			<img alt="Nicole Forsgren" src="/image/Jadi_Mirmirani.jpg">
			<h3>Getting better together: What enterprise can learn from global patterns</h3>
			<h4>جادی میرمیرانی</h4>
			<h5>هکر خندون، برنامه نویس خوشحال، مدیرسیستم</h5>
		</li>
		<li>
			<img alt="Angie Jones" src="/image/Seyyed_Ali_Mohammadiyeh.jpg">
			<h3>Visual tests on every pull request</h3>
			<h4>سیدعلی محمدیه</h4>
			<h5>مهندس نرم‌افزار و توسعه دهنده شرکت گیت هاب</h5>
		</li>
		<li>
			<img alt="Hung Brown Ton" src="/image/Seyyed_Parham_Alvani.jpg">
			<h3>From scientific poster sessions to GitHub global actions: transforming a century plus company to the digital age</h3>
			<h4>سیدپرهام الوانی</h4>
			<h5>دانشجوی دکتری، برنامه نویس شرکت اسنپ</h5>
		</li>
	</ul>
</section>
