        <section class="speakers">
            <h1>سخنران های کلیدی جشنواره اوپن سورس</h1>
            <ul class="speaker-list">
                <li>
                    <img alt="Nicole Forsgren" src="/image/Jadi_Mirmirani.jpg">
                    <h3>Getting better together: What enterprise can learn from global patterns</h3>
                    <h4>جادی میرمیرانی</h4>
                    <h5>هکر خندون، برنامه نویس خوشحال، مدیرسیستم</h5>
                    <ul class="user-social-links">
                                <a href="https://github.com/jadijadi/"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/githublink.svg" alt=""></li></a>
                                <a href="#"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/linkedinlink.svg" alt=""></li></a>
                                <a href="https://instagram.com/jadijadinet"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/instagramlink.svg" alt=""></li></a>
                                <a href="https://twitter.com/jadi"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/twitterlink.svg" alt=""></li></a>
                                <a href="https://jadi.net/"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/websitelink.svg" alt=""></li></a>
                        </ul>
                </li>
                <li>
                    <img alt="Angie Jones" src="/image/Seyyed_Ali_Mohammadiyeh.jpg">
                    <h3>Visual tests on every pull request</h3>
                    <h4>سیدعلی محمدیه</h4>
                    <h5>مهندس نرم‌افزار و توسعه دهنده شرکت گیت هاب</h5>

                    <ul class="user-social-links">
              <a href="https://github.com/BaseMax"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/githublink.svg" alt=""></li></a>
              <a href="#"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/linkedinlink.svg" alt=""></li></a>
              <a href="https://www.instagram.com/max.base/"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/instagramlink.svg" alt=""></li></a>
              <a href="https://twitter.com/MaxProgram"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/twitterlink.svg" alt=""></li></a>
              <a href="https://maxbase.org/"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/websitelink.svg" alt=""></li></a>
            </ul>
                    </li>
                <li>
                    <img alt="Hung Brown Ton" src="/image/Seyyed_Parham_Alvani.jpg">
                    <h3>From scientific poster sessions to GitHub global actions: transforming a century plus company to the digital age</h3>
                    <h4>سیدپرهام الوانی</h4>
                    <h5>دانشجوی دکتری، برنامه نویس شرکت اسنپ</h5>

                    <ul class="user-social-links">
              <a href="https://github.com/1995parham"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/githublink.svg" alt=""></li></a>
              <a href="#"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/linkedinlink.svg" alt=""></li></a>
              <a href="#"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/instagramlink.svg" alt=""></li></a>
              <a href="https://twitter.com/1995parham"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/twitterlink.svg" alt=""></li></a>
              <a href="https://1995parham.me/"><li class="info-cyber-img ml-1"><img class="h-100 w-100" src="/asset/websitelink.svg" alt=""></li></a>
            </ul>
                    </li>
            </ul>
        </section>
