<section class="speakers">
	<h1>سخنران های کلیدی جشنواره اوپن سورس</h1>
	<ul class="speaker-list">
		{% for speaker in site.speakers %}
		<li>
			<a href="/speaker/jadi-mirmirani/">
				<img alt="{{ speaker.name }}" src="{{ speaker.image }}">
				<h3>Getting better together: What enterprise can learn from global patterns</h3>
				<h4>{{ speaker.name }}</h4>
				<h5>{{ speaker.subtitle }}</h5>
			</a>
		</li>
		{% endfor %}
		<li>
			<a href="/speaker/seyyed-ali-mohammadiyeh/">
				<img alt="سید علی محمدیه" src="/image/Seyyed_Ali_Mohammadiyeh.jpg">
				<h3>Visual tests on every pull request</h3>
				<h4>سیدعلی محمدیه</h4>
				<h5>مهندس نرم‌افزار و توسعه دهنده شرکت گیت هاب</h5>
			</a>
		</li>
		<li>
			<a href="/speaker/seyyed-parham-alvani/">
				<img alt="سید پرهام الوانی" src="/image/Seyyed_Parham_Alvani.jpg">
				<h3>From scientific poster sessions to GitHub global actions: transforming a century plus company to the digital age</h3>
				<h4>سیدپرهام الوانی</h4>
				<h5>دانشجوی دکتری، برنامه نویس شرکت اسنپ</h5>
			</a>
		</li>
	</ul>
</section>
