       <section class="sponsors">
            <div class="container">
                <h4>Thank you to our sponsors</h4>
                <ul class="sponsor-list">
                    <li>
                        <a href="/sponsors/veracode/" data-ga-click="Home, click, cta_text: open Veracode page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/logo-veracode.svg" alt="Veracode">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/bridgecrew/" data-ga-click="Home, click, cta_text: open Bridgecrew page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Bridgecrew.svg" alt="Bridgecrew">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/whitesource/" data-ga-click="Home, click, cta_text: open WhiteSource page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Whitesource.svg" alt="WhiteSource">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/ponicode/" data-ga-click="Home, click, cta_text: open Ponicode page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/ponicode.svg" alt="Ponicode">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/azure/" data-ga-click="Home, click, cta_text: open Microsoft Azure page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Azure-Stacked-White%20(1).png" alt="Microsoft Azure">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/zenhub/" data-ga-click="Home, click, cta_text: open ZenHub page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/zenhub.svg" alt="ZenHub">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/accurics/" data-ga-click="Home, click, cta_text: open Accurics page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Accurics_Monochromatic_Logo%20(1).png" alt="Accurics">
                        </a>
                    </li>
                    <li>
                        <a href="/intuit/" data-ga-click="Home, click, cta_text: open Intuit page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Intuit_Logo.svg" alt="Intuit">
                        </a>
                    </li>
                    <li>
                        <a href="/CircleCI/" data-ga-click="Home, click, cta_text: open CircleCI page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/circle-logo-horizontal-white-1200x341%20(1).svg" alt="CircleCI">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/intel/" data-ga-click="Home, click, cta_text: open Intel Corporation page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Intel_logo-white-3000px.png" alt="Intel Corporation">
                        </a>
                    </li>
                    <li>
                        <a href="/stackpulse/" data-ga-click="Home, click, cta_text: open StackPulse page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/stackpulse_white_lockup.png" alt="StackPulse">
                        </a>
                    </li>
                    <li>
                        <a href="/securecodewarrior/" data-ga-click="Home, click, cta_text: open Secure Code Warrior page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/scw_white_h_R.svg" alt="Secure Code Warrior">
                        </a>
                    </li>
                    <li>
                        <a href="/Lightstep/" data-ga-click="Home, click, cta_text: open Lightstep page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Lightsteplogo-medium-white.png" alt="Lightstep">
                        </a>
                    </li>
                    <li>
                        <a href="/datree/" data-ga-click="Home, click, cta_text: open Datree page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Datree_Logo_1_color%20(1).png" alt="Datree">
                        </a>
                    </li>
                    <li>
                        <a href="/hasicorp/" data-ga-click="Home, click, cta_text: open HashiCorp page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/HashiCorp_PrimaryLogo_White_RGB.png" alt="HashiCorp">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/saucelabs/" data-ga-click="Home, click, cta_text: open Sauce Labs page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Sauce-Labs_Vert_White_RGB.svg" alt="Sauce Labs">
                        </a>
                    </li>
                    <li>
                        <a href="/contrastsecurity/" data-ga-click="Home, click, cta_text: open Contrast Security page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Contrast_Security%20Logo%20(white).svg" alt="Contrast Security">
                        </a>
                    </li>
                    <li>
                        <a href="/snyk/" data-ga-click="Home, click, cta_text: open Snyk page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Snyk-white%20(1).png" alt="Snyk">
                        </a>
                    </li>  
                </ul>
                <p>Interested in <a class="underline" href="">sponsoring</a> GitHub Universe?</p>
                <br>
                <a class="button">
                    CONTACT US
                </a>
            </div>
        </section>
