<section class="sponsors">
     <div class="container">
         <h4>از حامیان مالی خود تشکر می کنیم</h4>
         <ul class="sponsor-list">
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/logo-veracode.svg" alt="Veracode">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/Bridgecrew.svg" alt="Bridgecrew">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/Whitesource.svg" alt="WhiteSource">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/ponicode.svg" alt="Ponicode">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/Azure-Stacked-White%20(1).png" alt="Microsoft Azure">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/zenhub.svg" alt="ZenHub">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/Accurics_Monochromatic_Logo%20(1).png" alt="Accurics">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/Intuit_Logo.svg" alt="Intuit">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/circle-logo-horizontal-white-1200x341%20(1).svg" alt="CircleCI">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/Intel_logo-white-3000px.png" alt="Intel Corporation">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/stackpulse_white_lockup.png" alt="StackPulse">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/scw_white_h_R.svg" alt="Secure Code Warrior">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/Lightsteplogo-medium-white.png" alt="Lightstep">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/Datree_Logo_1_color%20(1).png" alt="Datree">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/HashiCorp_PrimaryLogo_White_RGB.png" alt="HashiCorp">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/Sauce-Labs_Vert_White_RGB.svg" alt="Sauce Labs">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/Contrast_Security%20Logo%20(white).svg" alt="Contrast Security">
                 </a>
             </li>
             <li>
                 <a>
                 <img src="https://githubuniverse.com/assets/img/sponsors/Snyk-white%20(1).png" alt="Snyk">
                 </a>
             </li>  
         </ul>
         <p>مایل به  <a class="underline" href="/contact/">پشتیبانی</a> از جشنواره اوپن سورس فارسی هستید؟</p>
         <br>
         <a class="button" href="/contact/">
             تماس با ما
         </a>
     </div>
 </section>
