        <section class="updates">
            <p class="signup-text"><a class="underline" href="">Sign up</a> for the latest GitHub Universe updates</p>
            <p class="follow-text">Follow the event <span class="text-gradient-purple">#GitHubUniverse</span></p>
            <ul class="linear-list">
                <li>
                    <a href="">
                        <img src="https://githubuniverse.com/assets/img/svgs/twitter.svg">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://githubuniverse.com/assets/img/svgs/linkedin.svg">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://githubuniverse.com/assets/img/svgs/instagram.svg">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://githubuniverse.com/assets/img/svgs/youtube.svg">
                    </a>
                </li>
            </ul>
        </section>
